<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ blogPost.title }}</title>
</head>
<body>
    <header>
        <h1>{{ blogPost.title }}</h1>
        <p>Author: {{ blogPost.author }}</p>
        <p>Published on: {{ blogPost.createdAt }}</p>
    </header>
    <article>
        {{ blogPost.content }}
    </article>
</body>
</html>